
*.class
BitBoxSkeleton/.idea/.name
BitBoxSkeleton/.idea/artifacts/bitbox_jar.xml
BitBoxSkeleton/.idea/compiler.xml
BitBoxSkeleton/.idea/encodings.xml
BitBoxSkeleton/.idea/misc.xml
BitBoxSkeleton/.idea/vcs.xml
BitBoxSkeleton/.idea/workspace.xml
BitBoxSkeleton/out/artifacts/bitbox_jar/bitbox.jar
BitBoxSkeleton/share/file - Copy
BitBoxSkeleton/src/main/resource/META-INF/MANIFEST.MF
